# Framework principal
fastapi==0.115.0
uvicorn[standard]==0.30.6

# Banco de dados e ORM
sqlalchemy==2.0.35
alembic==1.13.2

# Conector MySQL
mysql-connector-python==9.0.0

# Segurança (hash de senha, autenticação JWT)
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4

# Cache e Pub/Sub
redis==5.0.8

# Validações e schemas
pydantic==2.9.2

# Testes
pytest==8.3.3
httpx==0.27.2

# Utilitários
python-dotenv==1.0.1
